<html>
    <head>
        <title>Поиск рифм в поэтическом корпусе НКРЯ</title>
        <script type="text/javascript" src="../static/js/lib/jquery.min.js"></script>
        <script type="text/javascript" src="../static/js/rhymes.js"></script>
        <script type="text/javascript" src="../static/css/lib/bootstrap/js/bootstrap.min.js"></script>
        <link href="../static/css/style.css" type="text/css" rel="stylesheet">
        <link href="../static/css/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    </head>
    <body>

        <!-- Upper part -->
        <div id="header">
            <h3 align="center">Поиск рифм в поэтическом корпусе НКРЯ</h3>
        </div>
        <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8" align="center">
                <nav class="navbar navbar-default">
                    <form class="navbar-form" role="search">

                        <!-- Input form -->
                        <div class="form-group">
                            <input size="30" data-toggle="popover" data-placement="bottom" data-content="" type="search" class="form-control" id="dict_search" placeholder="Введите слово">
                        </div>
                        <button class="btn btn-default" id="submit_button" type="submit">Искать</button>
                        <button class="btn btn-default" id="reset_button" type="button">Очистить</button>

                        <!-- Info and admin buttons -->
                        <div class="btn-group">
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#gram_features">
                                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
                                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal1">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            </button>
                        </div>
                    </form>
                </nav>
            </div>
            <div class="col-sm-2">
            </div>
        </div>
        <br>
        <hr/>

        <!-- List of lemmas -->
        <div class="row">
            <div class="col-sm-3">
            </div>

            <div class="col-sm-6">
                <div id="rhymes">
                </div>
            </div>


            <div class="col-sm-3" align="center">
                <span id="recently_header">Недавние запросы:</span>
                <div id="recently">
                </div>
            </div>

            <!-- Hidden info -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Справка</h4>
                        </div>
                        <div class="modal-body">
                            Здесь будет что-нибудь написано про поиск по словарю.
                        </div>
                    </div>
                </div>
            </div>

            <!-- Hidden admin panel -->
            <div class="modal fade bs-example-modal-sm" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModal1Label">Администрирование</h4>
                        </div>
                        <div class="modal-body" id="parameters2">
                            <form class="form-signin">
                                <label for="inputLogin" class="sr-only">Логин</label>
                                    <input type="text" id="inputLogin" class="form-control" placeholder="Логин" required autofocus>
                                <label for="inputPassword" class="sr-only">Пароль</label>
                                    <input type="password" id="inputPassword" class="form-control" placeholder="Пароль" required>
                                <button class="btn btn-m btn-primary btn-block" type="button" id="sign_in_button">Войти</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Parameters after login -->
            <div class="modal fade bs-example-modal-sm" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModal2Label">Настройки</h4>
                        </div>
                        <div class="modal-body">
                            <span class="input-group-addon">
                                <input type="checkbox" id="show_mu" checked> Показывать модели управлений
                            </span>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" id="reset_changes">Очистить</button>
                            <button type="button" class="btn btn-primary" id="save_changes">Сохранить</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Possible parameters -->
            <div class="modal fade bs-example-modal-sm" id="gram_features" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModal1Label3">Параметры</h4>
                        </div>
                        <div class="modal-body" id="parameters">
                        <form name="gramchoice" method="post">
                                <input type="checkbox" name="check_list" value="CONJ"> открытая <br>
                                <input type="checkbox" name="check_list" value="ADV"> закрытая <br>
                                <input type="checkbox" name="check_list" value="CONJ"> богатая <br>
                                <input type="checkbox" name="check_list" value="CONJ"> глубокая <br>
                                <input type="checkbox" name="check_list" value="CONJ"> бедная <br>
                                <input type="checkbox" name="check_list" value="male"> мужская <br>
                                <input type="checkbox" name="check_list" value="female"> женская <br>
                                <input type="checkbox" name="check_list" value="dactyl"> дактилическая <br>
                                <input type="checkbox" name="check_list" value="hyperdactyl"> гипердактилическая <br>
                                <input type="checkbox" name="check_list" value="pairing"> парная <br>
                                <input type="checkbox" name="check_list" value="crossed"> перекрестная <br>
                                <input type="checkbox" name="check_list" value="encircling"> опоясывающая <br>
                                <input type="checkbox" name="check_list" value="PART"> ассонансная <br>
                                <input type="checkbox" name="check_list" value="INTJ"> диссонансная <br>
                            <div align="center" class="submit_form">
                                <input type="submit" value="Выбрать">
                                <input type="button" name="Un_CheckAll" value="Очистить" onClick="UnCheckAll(document.gramchoice.check_list)" class="button orange small">
                            </div>
                        </form>
                    </div>
                  </div>
                </div>
            </div>

        </div>
    </body>
<script>
    function UnCheckAll(chk)
    {
        for (i = 0; i < chk.length; i++)
            chk[i].checked = false ;
    }
</script>
</html>